/* **** GUESS WORD GRID ***** */

.word {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.letter {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

/* ****  KEYBOARD **** */

.container {
    display: grid;
    gap: 10px; 
  }
  
.row {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd; 
    padding: 10px; 
    font-size: 18px; 
    cursor: pointer;
}

.key:hover {
    background-color: #ccc; 
}
  
  /* .key:focus {
    outline: none; 
  } */
  